<div class=page-header-text>
  <div class="row">
      <h1 class="display-4 col container">Instagram</h1>
  </div>
  <div class="row">
      <h1 class="display-5 col">Why Instagram</h1>
  </div>
</div>

<div class="social-channel-text">
  <div class="container">
    <p1> Instagram has now reached over 1 billion users
         <br>
         <br>
         The average Instagram post receives over 43 times more engagement
         than any other social channel
         <br>
         <br>
         It is the most important social network to master of the 21st century
    </p1>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">What is automation</h1>
</div>

<div class="instagram-explainer">
   <div class="container">
      <div class="homepage-text">
        <h1 class="display-4"><%= image_tag("whatisautomation.png") %></h1>
    </div>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">Why is that good</h1>
</div>

<div class="instagram-explainer">
   <div class="container">
      <div class="homepage-text">
        <h1 class="display-4"><%= image_tag("whythatgood.png") %></h1>
    </div>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">The Nature Boys difference</h1>
</div>

<div class="social-channel-text">
  <div class="container">
      <p1> We believe that Instagram is a story-telling platform and so in able to tell that story well,
           you have to either invest heavily in to others to go deep in to your business, or do it yourself.
           <br>
           <br>So we leave the story telling you and focus on the growth with
           our 'Growth Plugin Package'
           <br>
           <br>This combines three factors:
      </p1>
      <div class="nb-difference">
        <h1 class="display-4"><%= image_tag("nbdifference.png") %><h1>
    </div>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">Engagement upgrades</h1>
</div>

<div class="social-channel-text">
  <div class="container">
    <p1>We then combine our base Growth Plugin Package with other
     tools to maximise engagement and growth.
    </p1>
  </div>
</div>

<div class="pods-and-comments row container">
  <div class="container">
      <div class="pods col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-6">
        <div class="container">
          <h2> Engagement Pods </h2>
          <p> We'll have 400 different unique real people autmatically come and
            like your most recent post up to 3 times per day!
            <br>
            <br>This then triggers the Instagram algorithm to have your post seen
            by 10X the number of people and so more eyes on you and your content!
          </p>
      </div>
    </div>
      <div class="comments col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-6">
          <div class="container">
            <h2> Manual commenting </h2>
            <p>A member of the Nature Boys team will deliver custom, personalised and
              human comments to your followers and target accounts.
              <br>
              <br>This is the most effective way to drive engagement to your account
              beyond anything else as each comment is naturally reciprocated.
            </p>
        </div>
      </div>
    </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">How to go ahead</h1>
</div>

<div class="social-channel-text">
  <div class="container">
    <p1>On a rolling contract (cancel anytime), for our Growth Plugin Package, we charge £149 per month.
      <br>
      <br>Within the first month, you can get all your money back with no questions asked.
      <br>
      <br>For pricing information on engagement pods and manual commenting packages click <%= link_to "here", "https://drive.google.com/file/d/1vo4dSsdovSsHLX9qN6W-Y4ImzoxXICz-/view?usp=sharing" %>.
      <br>
      <br>When you're ready to go ahead, or for more info, email kieran@wearethenatureboys.com
      with the Instagram handle you're looking for help with and the services you're interested in.
       <br>
       <br> or click the link below...
    </p1>
  </div>
</div>
<div class="chat-cta">
  <h2><%=mail_to "kieran@wearethenatureboys.com", "Email us", :subject => "NB Insta Enquiry", class: "btn btn-dark btn-lg btn-xlarge" %></h2>
</div>
