<hr>
<div class="footer">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.wearethenatureboys.com">The Nature Boys</a>
      By Max Sinclair
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_us_path %></li>
        <li><%= link_to "Instagram", instagram_path %></li>
        <li><%= link_to "Linkedin", linkedin_path %></li>
        <li><%= link_to "EC Journalists", ec_journalists_path %></li>
        <li><%= link_to "Speak to Us", speak_to_us_path %></li>
      </ul>
    </nav>
  </footer>
</div>
<hr>
