<nav class="navbar navbar-expand bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <h1 class="nav-item" id="emailus">
      <p>Get in touch:
        <br>Kieran@wearethenatureboys.com</p>
    </h1>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Instagram", instagram_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "EC Journalists", ec_journalists_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Youtube", youtube_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Linkedin", linkedin_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "About Us", about_us_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Speak to us", speak_to_us_path, class: 'nav-link' %>
      </li>
    </ul>
    <h1 class="nav-item" id="clientsignin">
      Client Sign In
    </h1>
  </div>

</nav>
