<div class=page-header-text>
  <div class="row">
      <h1 class="display-4 col container">About us</h1>
  </div>
  <div class="row">
      <h1 class="display-5 col">Our mission</h1>
  </div>
</div>

<div class="our-story-text container">
    <h4>To save the world bro! ✌🏻 </h4>
      <br>
      <p1>Or to be more specific:
      <br>
      <br>
    </p1>
    <h4>“To improve the world we live in by spreading the value from positive impact brands,
        businesses and people further!”
    </h4>
    <br>
    <p1>The nature boys are essentially the founding fathers of the hippy movement.
      While we have a whole range of clients we work with, we’ve ended up with a particular
      focus on building audiences of people that fit nicely within that subculture –
      updated to our modern world.
      <br>
      <br>We like spreading positive messages from businesses,
      brands and people doing good things in the world! The more we do our job of spreading
      these positive messages the better the world ends up!
    </p1>
    <br>
    <br>
    <h4>We even have a song...</h4>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Iq0XJCJ1Srw"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
    </iframe>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">Our story</h1>
</div>

<div class="our-story-text container">
    <h3>The Beginning</h3>
    <br>
    <p1>Many, many years ago, in a land far, far away… Max started growth hacking!
      <br>
      <br>The Nature Boys story starts with Max its founder starting another company
      called Eco Companion. This startup, like any other small business needed attention and growth to get going.
      <br>
      <br>So Max discovered a little thing called growth hacking and took to it fast - learning
      the ways of the growth hacker on Twitter, quickly reaching mastery, delivering over 10,000
      users to the site each month at a cost of less than £50. With this, building strong, consistent revenue growth and ultimately investment!
      <br>
      <br>As Instagram then became the dominant force the same lessons were transferred over.
      Then, as others started asking for help with their own social following, this quickly
      progressed from helping a couple of friends out, all the way up to an entirely new and
      impactful organisation of its own that we have today!
      <br>
      <br>The particular focus on quality and conversion above all else to really deliver on
      company goals is born from learning these techniques through implementing on an existing business
      that continues to flourish to this day!
    </p1>
  </div>
</div>

<div class="our-story-text container">
    <h3>Today</h3>
    <br>
    <p1>We’ve gone from a man to a team! (see below)
      <br>
      <br>We’ve continued to develop more and more effective systems around our own automation software
      and the support we offer alongside this to ultimately deliver a more effective and complete package for each client.
      <br>
      <br>We continue to learn at a faster and faster rate. This is thanks to our
      vantage point looking after over 200 client’s Instagram accounts and 150 our own
      personal network of accounts!
      <br>
      <br>Thanks to this constant progression our network has grown to over 2m to date and
      now grows at a rate of over 100k p/m!
      <br>
      <br>We're particularly focused on creating audiences that really convert and transform our clients businesses all through taking a tailored human approach to automation.
    </p1>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">The team</h1>
</div>

<div class="the-team container">
  <div class="first-two-team row justify-content-center">
      <div class="col-md-4 col-xs-12">
        <p4><%= image_tag("chris.jpg") %></p4>
        <h2>Chris Hunt</h2>
        <p>Head of Growth</p>
      </div>
      <div class="col-md-4 col-xs-12">
        <p4><%= link_to image_tag("kieran.jpg"), "https://www.instagram.com/whoiskierangregory/" %></p4>
        <h2>Kieran Gregory</h2>
        <p>Head of Sales</p>
      </div>
  </div>
  <div class="second-two-team row justify-content-center">
      <div class="col-md-4 col-xs-12">
        <p4><%= link_to image_tag("kirstin.png"), "https://www.instagram.com/kirstyisla_/" %></p4>
        <h2>Kirstin Bews</h2>
        <p>Growth Hacker</p>
      </div>
      <div class="col-md-4 col-xs-12">
        <p4><%= link_to image_tag("maxpic.jpg"), "https://www.instagram.com/im_max_sinclair/" %></p4>
        <h2>Max Sinclair</h2>
        <p>Founder</p>
      </div>
</div>

<div class="second-two-team row justify-content-center">
    <div class="col-md-4 col-xs-12">
      <p4><%= link_to image_tag("couldbeyou.png"), "https://ecocompanion.typeform.com/to/bD75nk" %></p4>
      <h2>Nature Boy/Girl?</h2>
      <p>Click <%=link_to 'here', "https://ecocompanion.typeform.com/to/bD75nk" %> to register your interest
        <br> to join our team! </p>
    </div>
</div>
