<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <div class="header-image">
      <h1 class="display-4"><%= image_tag("nblogo.png") %></h1>
      <h2><%=link_to 'Speak to us', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
      </div>
  </div>
</div>

<div class="homepage-text">
  <div class="container">
    <p1> “Social and environmentally conscious organic audience builders”</p1>
  </div>
</div>
<div class="homepage-text">
  <div class="container">
    <p1> We specialise in creating audiences within various social networks through
         highly targeted growth hacking techniques. We're especially good with Instagram...
    </p1>
  </div>
</div>
<div class="homepage-text">
  <div class="container">
    <p1> We deliver a highly targeted, engaged audience growing at over 2,000
        new followers per month.
    </p1>
  </div>
</div>
<div class="homepage-text">
  <div class="container">
    <p1> We do this by combining our Insta empire of 200+ accounts and 2.5m
        follower base with a tailored setup on our own automation software and we
        support all of this with constant training and support!
    </p1>
  </div>
</div>
<div class="enquiry-cta">
  <h2><%=link_to '10X your insta with us!', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
</div>
<div class="page-break">
  <div class="container">
      <div class="page-break-text">
        <h1 class="display-5">Other Hippy Magic</h1>
      </div>
  </div>
</div>
<div class="linkedin-and-youtube">
  <div class="container">
      <div class="linkedin">
        <div class="container">
          <h2> Linkedin </h2>
          <p1> Mega quick pitch on how we do it combining mega network / automation /
             training and what we deliver
           </p1>
        <div class="linkedin-cta">
          <h2><%=link_to '10X your Linkedin!', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
        </div>
      </div>
    </div>
      <div class="youtube">
          <div class="container">
            <h2> Youtube </h2>
            <p1> Mega quick pitch on our plans and launching soon. More interest the quicker it will happen so….
            </p1>
          <div class="youtube-cta">
            <h2><%=link_to '10X your Youtube!', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="page-break">
  <div class="container">
      <div class="page-break-text">
        <h1 class="display-5">What's all this EC Journalist Whoo Haaaa?</h1>
      </div>
  </div>
</div>
<div class="homepage-ec-journalist">
  <div class="container">
        <h2> The Eco Companion Journalist Community </h2>
        <p1> That mega film you see on the top of our page includes a lot of work
          created by a talented community of content creators called ‘Eco Companion Journalists’
          We’re proud to have partnered up with Eco Companion to support this community’s growth
          Are you travel and nature focused and a content creator?
         </p1>
      <div class="ecj-cta">
        <h2><%=link_to 'Click to apply!', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
      </div>
  </div>
</div>
<div class="page-break">
  <div class="container">
      <div class="page-break-text">
        <h1 class="display-5">Like the sound of this but want to get to know us?</h1>
      </div>
  </div>
</div>
<div class="homepage-ec-journalist">
  <div class="container">
        <p1> We always love a chat so best thing to do is send us an email and we can book in a chance to speak!
         </p1>
      <div class="chat-cta">
        <h2><%=link_to 'Click to chat!', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
      </div>
      <p1> Or if you’re feeling ‘enquiry-shy’ then head on over to our <%=link_to "Who Are We?", about_us_path %> page to read more.
       </p1>
  </div>
</div>
