<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <div class="header-image">
      <h1 class="display-1"><%= image_tag("nblogo.png") %></h1>
      <h2><%=link_to 'Speak to us', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
      </div>
  </div>
</div>

<div class="homepage-text">
  <div class="container">
    <h3> Social and environmentally conscious organic audience builders</h3>
  </div>
</div>
<hr>
<div class="homepage-text">
  <div class="container">
    <p1> We specialise in creating audiences within various social networks through
         highly targeted growth hacking techniques. We bring a tailored, human approach to automation.
         <br>
         <br>We're especially good with Instagram...
    </p1>
  </div>
</div>
<div class="homepage-text">
  <div class="container">
    <p1> We deliver a highly targeted, engaged audience growing at over 2,000
        new followers per month.
    </p1>
  </div>
</div>
<div class="homepage-text">
  <div class="container">
    <p1> We do this by combining our Insta empire of 200+ accounts and 2.5m
        follower base with a tailored setup on our own automation software and we
        support all of this with constant training and support!
    </p1>
  </div>
</div>
<div class="enquiry-cta">
  <h2><%=link_to 'Find out more', instagram_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
</div>
<div class="page-break-text row">
    <h1 class="display-5 container">Other Hippy Magic</h1>
</div>

<div class="linkedin-and-youtube row container">
  <div class="container">
      <div class="linkedin col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-6">
        <div class="container">
          <h2> Linkedin </h2>
          <hr>
          <p1> Linkedin is the most important B2B social network that exists today.
            <br>
            <br>We're killing it for ourselves on there and love to help others do the same!
           </p1>
        <div class="linkedin-cta">
          <h2><%=link_to 'Find out more', linkedin_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
        </div>
      </div>
    </div>
      <div class="youtube col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-6">
          <div class="container">
            <h2> Youtube </h2>
            <hr>
            <p1> Want a future in video? Think Youtube!
              <br>
              <br>Find out what we're up to with this channel of ever increasing importance...
            </p1>
          <div class="youtube-cta">
            <h2><%=link_to 'Find out more', youtube_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="page-break-text row">
    <h1 class="display-5 container">What's all this EC Journalist Whoo Haaaa</h1>
</div>
<div class="homepage-ec-journalist">
  <div class="container">
        <p1> <%= image_tag "EC_Journalist.png" %>
        <h2> The Eco Companion Journalist Community </h2>
        <hr>
        <p1> A lot of the creative work you might see in and around the Nature Boys world has been
          produced by a talented community of content creators named ‘Eco Companion Journalists’
          <br>
          <br>We’re proud to have partnered up with Eco Companion to support this community’s growth!
          <br>
          <br>Are you travel and nature focused and a content creator?
         </p1>
      <div class="ecj-cta">
        <h2><%=link_to 'Find out more', ec_journalists_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
      </div>
  </div>
</div>
<div class="page-break-text row">
    <h1 class="display-5 container">Like the sound of it but want to get to know us?</h1>
</div>
<div class="homepage-ec-journalist">
  <div class="container">
        <p1> We always love a chat so best thing to do is send us an email and we can book in a chance to speak!
         </p1>
      <div class="chat-cta">
        <h2><%=link_to 'Click to chat', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
      </div>
      <p1> Or if you’re feeling ‘enquiry-shy’ then head on over to our <%=link_to "Who Are We?", about_us_path %> page to read more.
       </p1>
  </div>
</div>
